    li {
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    border: 1px solid cadetblue;
    border-radius: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    overflow: scroll;
  }
  
  button {
    cursor: pointer;
    padding: 10px;
    background-color:transparent;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    width: fit-content;
  }
  
  button:hover {
    background-color: darkcyan ;
    color: white;
  }
  .abc{
    display: flex;
    gap: 10px;
  }
  
  